head {
	background-color: MidnightBlue;

}

body {
	background-image: url("pug_with_glasses.jpg");
}

#title {
	font-size: 34px;
	font-family: Comic Sans MS;
	color: Indigo;
}

#biograph{
	color: PaleVioletRed;
	font-family: Comic Sans MS;
	font-size: 24px;


}