
#main {
	background-color: #000033;
	color: #D1CAB0;
	height:100vh;

}

#mynavbar {
	font-weight: bold;
	font-size: 25px;
	font-family: 'Poiret One', cursive;
}

#contact_title {
	padding-top: 70px;
	font-family: 'Lato', sans-serif;
	text-align: center;	
	padding-bottom: 30px;
}

#contacts {
	border-radius: 25px;
    background: #D1CAB0;
    width: 500px;
    height: 150px; 
    margin: 0px auto;
    padding-top: 10px;

}

.content {
	text-align: center;
	font-family: 'Lato', sans-serif;	
	color: black;
	font-size: 30px;
}

#links {
	font-family: 'Lato', sans-serif;
	text-align: center;
	color: #D1CAB0;
}