body, html {
	height: 100%;
}

body {
	background-image: url('Images/pilchuck.JPG');
	background-size: cover;
	background-repeat: no-repeat;
	/*background-position-x: 20%;*/
	overflow-x: hidden;
	height: 100%;
	background-position: center;
	margin: 0 0 0 0;
}

#title {
	font-size: 5rem;
	padding-top: 10rem;
	font-family: 'Major Mono Display', monospace;
	color: white;
	text-align: center;
}

#intro {
}

img {
	height: 50px;
}

#strip a:link {
	color: white;
	text-decoration: none;
}

#strip a:visited {
	color: white;
}

#strip a:hover {
	color: purple;
	/*color: #b3b3cc;*/
}

#strip {
	text-align: center;
}

#strip i {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: inline-flex;
}

@media only screen and (min-width: 768px) {
    /* tablets and desktop */

    #strip i {
    	margin-top: 11rem;
    	font-size: 45px;
    	margin-left: 2rem;

    }

}

@media only screen and (max-width: 767px) {
    /* phones */

    #title {
    	font-size: 3rem;
    }

    #strip i {
    	margin-top: 7rem;
    	font-size: 36px;
   		margin-left: 1rem;
    }
}


#blurb {
	margin-top: 4rem;
	font-family: 'Atma', cursive;
	font-size: 1.2rem;
	color: white;
}

#blurb span {
	display: block;
}

#blurb a {
	color: #75145E !important;
}

#blurb a:hover {
	font-weight: bold;
	color: #b3b3cc !important;
}