#main {
	background-color: #D1CAB0;
	color: black;
	padding-left: 20px;
	font-family: 'Poiret One', cursive;
	font-size: 25px;
	padding-bottom: 80px;
}


#mynavbar {
	font-weight: bold;
	font-size: 25px;
	font-family: 'Poiret One', cursive;
}

#title {
	padding-top: 100px;
	font-weight: bold;
	font-size:50px;
	font-family: 'Poiret One', cursive;
}

#subtitle {
	padding-top: 20px;
	text-decoration: underline;
	font-weight: bold;
}

.course {
	font-weight: bold;
	color:midnightblue;
}

.project_name {
	font-weight: bold;
}