#main {
	background-color: #D1CAB0;
	color: black;
	padding-left: 20px;
	font-family: 'Poiret One', cursive;
	font-size: 25px;
	height:100vh;

}


#mynavbar {
	font-weight: bold;
	font-size: 25px;
	font-family: 'Poiret One', cursive;
}

#title {
	padding-top: 60px;
	font-weight: bold;
	font-size:50px;
	font-family: 'Francois One', sans-serif;	
}

#subtitle {
	padding-top: 20px;
	text-decoration: underline;
}

h2 {
}
