body{
    background-color: black;
}

#header {
    border-radius:5px;
    background-color: black;
    height:60px;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align:center;
    z-index:1;
    width:98%;
    
}

h1:first-child {
    color:white;
    text-align:center;
    text: Cambria;
}


h1:nth-child(2) {
    color:white;
    text-decoration:none;
    text-align:center;
}

h1:nth-child(3) {
    color: white;
    text-align: center;
}


#page {
    margin-top: 150px;
    background-color: black;
    float: center;
    margin-right: 20px;
    margin-bottom: 20px;
}

.head {
    font-family: Impact;
    font-size: 40px;
    color: PaleGreen;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-top: 75px;
    background-position: center
}

li{
    list-style-position: inside;
    text-align: left;
    text-indent: 50px;
    font-family: sans-serif;
    font-variant: small-caps;
    font-size: 25px;
    color:MediumSpringGreen;
    margin-right: 50px;
    margin-top: 15px;
    margin-left: 1em;
    list-style-position: outside;
}

.indent {
    margin-left: 5em;
}

.job{
    font-style: em;
    color: bisque;

}

.language {
    color: MediumSpringGreen;
    text-align: left;
    text-indent: 50px;
    font-family: sans-serif;
    font-variant: small-caps;
    font-size: 25px;
}

a:link{
    color:#CCFF99;
}

a:visited{
    color:white;
}
