body {
	background-color: #FFFAF1;
	font-family: 'Amatic SC', cursive;
	color: #333333;
}

a:link {
	color: #333333 !important;
	text-decoration: none;
}

a:visited {
	color: #333333;
}

a:hover {
	color: #05C9C9 !important;
	text-decoration: : underline;
}

#main-title {
	font-size: 5rem;
	padding-top: 5rem;
	margin-left: 3rem;
	margin-right: 3rem;
	font-family: 'Amatic SC', cursive;


	color: #333333;
	text-align: center;
}

#menu {
	margin: 0 auto;
	margin-top: 2rem;
	width: 100%;
  	display: flex;
  	flex-direction: row;
  	justify-content: center;
	font-family: 'Open Sans', sans-serif;
}


.section-title {
	color: #333333;
	text-align: center;
	padding-top: 6rem;
	font-size: 5rem;
}

.content {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 1.5rem;
	margin-left: 10rem;
	margin-right:10rem;
	margin-top: 3rem;
}

.project-border {
	height: 13rem;
    width: 13rem;
    border: 2px solid black;
    text-align: center;
    background: white;

}

.project-border:hover {
	opacity: 0.5;
  	filter: alpha(opacity=50);
}

.panel-container {
	margin:6rem;
}

.panel {
	margin:5rem;
	height:15rem;
}

.panel p,h1 {
	font-family: 'Open Sans', sans-serif;
	margin-left: 6rem;
	padding-left:10rem;
}


img {
	margin-right:15px;
	float:left
}

@media only screen and (min-width: 768px) {
    /* tablets and desktop */
	#menu {
		font-size:1.5rem;
	}

	.content {
		margin:5rem 10rem;
	}

	.panel-container {
		margin: auto;
	}
}

@media only screen and (max-width: 767px) {
    /* phones */
	p {
		font-size:1.3rem;
	}

	.content {
		margin-left:1.5rem;
		margin-right:1.5rem;
	}

    #main-title {
    	font-size: 5rem;
    	margin-left:0;
    	margin-right:0;
    }

    img {
    	/*display:none;*/
    	    margin-left: 23%;
    margin-bottom: 1rem;
    }

    .panel-container {
		margin: auto;
		text-align:center;
    }

    .panel p,h1{
    	margin-left:1rem !important;
    	padding-left:0rem !important;
    }

    .panel {
    	margin-top: 7rem;
    	margin-left: 1rem;
    	margin-right:1rem;
    	height:100%;
    }

    #menu {
    	font-size:1.2rem;
    }

	.panel-container{
		margin:0rem;
	}

}