body {
	background-color: #FFFAF1;
	font-family: monospace;
	color: #333333;
}

a:link {
	color: #333333 !important;
	text-decoration: none;
}

a:visited {
	color: #333333;
}

a:hover {
	color: #05C9C9 !important;
	text-decoration: : underline;
}

#main-title {
	font-size: 3rem;
	padding-top: 7rem;
	margin-left: 3rem;
	margin-right: 3rem;
	font-family: 'Major Mono Display', monospace;
	color: #333333;
	text-align: center;
}

@media only screen and (min-width: 768px) {
    /* tablets and desktop */
	#menu {
		float: right;
	    margin: 2rem 4rem;
s	}
}

@media only screen and (max-width: 767px) {
    /* phones */
    #main-title {
    	font-size: 2.5rem;
    	padding-top: 5.5rem;
    }

    #menu {
    	text-align:center;
    	padding-top: 2rem;
    	padding-left: 1rem;
    	padding-right: 1rem;
    }

    #section-title {
		padding-top: 3rem !important;
	}

}

body, html {
	height: 100%;
	margin:unset;
}

.section-title {
	color: #333333;
	text-align: center;
	padding-top: 6rem;
	font-size: 3rem;
}

.content {
	font-family: monospace;
	margin: 3rem;
	text-align: center;
}

.project-border {
	height: 10rem;
    width: 10rem;
    border: 2px solid black;
    margin: 3rem;
    text-align: center;
    background: white;

}

.project {
	height: 10rem;
    width: 10rem;
    background-size: cover;
}

.project:hover {
	opacity: 0.5;
  	filter: alpha(opacity=50);
}

#blocks {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin-left: 3rem;
	margin-right: 3rem;
}

#blocks:hover p {
	color: #333333;
}

.img-text {
	position: absolute;
	top: 40%;
	text-align: center;
}
